@font-face {
    font-family: 'Monaco';
    font-style: normal;
    font-weight: normal;
    src: local('Monaco'), url('Monaco.woff') format('woff')
}

body {
    font-weight: 30;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: navy;
}

@media only screen and (max-width: 600px)  {
    body{
        background-color: blue;
    }
}




